/* Master Styles */

body {
    margin: 0px; /* Margin has a value of 8px by default */
}

.container {
    display: grid;
    grid-template-columns: 1fr; /*1 fractional unit*/

}

/* Nav styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px; /* Moves stuff inwards -> creates border */
}

.left-side {
    display: flex;
    
}

 .nav-wrapper > .left-side > div { /* traverse a 'tree' of element */
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s; 
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover { /* called pseudo-state, can tell css we want something to happen on 'hover'*/ 
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover { /* called pseudo-state, can tell css we want something to happen on 'hover'*/ 
    color: black;
}

/* Content Styles */

.content-wrapper {
    padding: 38px;
}

.about-me-header {
    font-family: sans-serif;
}

.about-me-text {
    font-family: sans-serif;
}